[submodule "messenger/clients/python"]
	path = messenger/clients/python
	url = https://github.com/skylerknecht/messenger-client-python.git
	branch = main
[submodule "messenger/clients/csharp"]
	path = messenger/clients/csharp
	url = https://github.com/skylerknecht/messenger-client-csharp.git
	branch = main
